@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 3%;
    padding: 2vh;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    
    

}

.menuitem{
    padding: 1vw;
    font-size: 20px;
    font-family: Reboto, sans-serif;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    
}

.podio{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin-left: 8vw;
    margin-top: -20px;

   
}

h2{
    color:#FC200C;
    font-family: Reboto, sans-serif;
    font-size: 24px;
    font-weight: bold;

}

span{
    color: white;
    font-family: Reboto, sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.delivery img{
    width: 45vw;
}

.delivery{
    position: relative;

}

.delivery h2{
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 10px;
}
.top5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Reboto, sans-serif;
}

.podio h3{
    margin-top: -20px;
    font-size: 20px;
    font-weight: bold;
    font-family: Reboto, sans-serif;
}
.lista{
    display: flex;
    flex-direction: column;
    text-align: start;
    list-style: number;
    font-size: 16px;
    font-family: Reboto, sans-serif;
    font-weight: bold;
    line-height: 30px;
}
.top5 img{
    margin-left: 16vw;
}


footer{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    margin-top: 3%;
    padding-right: 30px;
    padding-left: 30px;
}
.menufooter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    margin: 4vh;
    font-size: 20px;
    font-family: Reboto, sans-serif;

}

.itemfooter{
    padding-bottom: 10px;
}